html {
  scroll-behavior: smooth;
}

body {
  box-sizing: border-box;
  display: flex;
  font-size: 24px;
  text-align: justify;
  align-items: center;
  background-color: darkslategray;
}

#root {
  width: 50%;
  margin: 0 auto;
}

nav {
  text-align: center;
}

nav ul {
  margin: 24px 0;
}

nav a{
  color:white;
  text-decoration: none;
  font-size: 1em;
}

ul {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-evenly;
  padding: 0;
  list-style: none;
  margin: 0
}

h2 {
  color: white;
}

li.habilidad {
  border-width: 2px;
  border-color: aquamarine;
  border-style: solid;
  border-radius: 1em;
  padding: 0.5em 1em;
}